body {
  background-image: url("https://images.unsplash.com/photo-1464306208223-e0b4495a5553?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  margin: 20px;
}
.App {
  text-align: center;
}

 .Nav {
  display: flex;
  /* background-color: #631c1c; */
  border: solid #631c1c;
} 
Nav ul{
  display:flex;
  list-style-type: none;

}
Nav li {
  text-decoration: none;
}
h2 {
  font-size: 15px;
  color: #374785;
  text-align: center;
  margin-top: 16px;
  margin-left: 10px;
}
img {
  height: 60vh;
  width: 60vw;
}
/* input[type="radio"] {
  display: none;
} */
a {
  text-decoration: none;
  color: #f76c6c;
  justify-content: space-around;
  font-weight: 700;
  padding-right: 25px;
}
h1 {
  color: #f76c6c;
}
li .Ingredients {
  color: #374785;
}
.Ingredients {
  text-align: left;
  list-style-type: circle;
  font-size: 13px;
  color: #374785;
}
div .recipes {
  /* background-color: #a8d0e6; */
  gap: 70px;
  margin-top: 20px; 
}

div.recipe {
  background-color: white;
  border: solid #374785;
  border-radius: 20px;
  padding-bottom: 15px;
  margin-top: 20px;
  opacity: 87%;
}

@media screen and (min-width:680px) {
  .recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
}

@media screen and (min-width:1024px) {
.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

}