body {
  background-image: url("https://images.unsplash.com/photo-1464306208223-e0b4495a5553?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  margin: 20px;
}
.App {
  text-align: center;
}

 .Nav {
  display: flex;
  border: solid #631c1c;
} 
Nav ul{
  display:flex;
  list-style-type: none;

}
Nav li {
  text-decoration: none;
}
h2 {
  font-size: 25px;
  color: #374785;
  text-align: center;
  margin-top: 16px;
  margin-left: 10px;
}
h3 {
  color: #374785;
  text-align: center;
  margin-top: 16px;
  margin-left: 10px;
  font-size: 15;
}
img {
  height: 60vh;
  width: 80vw;
}
input[type="radio"] {
  display: none;
}
li {
  text-decoration: none;
  color: #f76c6c;
  justify-content: space-around;
  font-weight: 700;
  padding-right: 25px;
}
h1 {
  color: #f76c6c;
}
li .Ingredients {
  color: #374785;
  margin-left: 100px;
}
.Ingredients {
  text-align: left;
  list-style-type: circle;
  font-size: 13px;
  color: #374785;
}
div .recipes {
  /* background-color: #a8d0e6; */
  gap: 70px;
  margin-top: 20px; 
}
form.search-form {
  margin: 20px;
}
div.recipe {
  background-color: white;
  border: solid #374785;
  border-radius: 20px;
  padding-bottom: 15px;
  margin-top: 20px;
  opacity: 87%;
}
.ChocolateCake {
  background-color: white;
  width: 400px;
  align-items: left;
}


@media screen and (min-width:680px) {
  .recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    height: 35vh;
    width: 35vw;
  }
}

@media screen and (min-width:1024px) {
.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
img {
  height: 22vh;
  width: 22vw;
}
input {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
}

}