body {
  background-color: #a8d0e6;
  margin: 20px;
}
.App {
  text-align: center;
}

 .Nav {
  display: flex;
} 
Nav ul{
  display:flex;
  list-style-type: none;

}
Nav li {
  text-decoration: none;
}
h2 {
  font-size: 15px;
  color: #374785;
  text-align: center;
  margin-top: 16px;
}
img {
  height: 60vh;
  width: 60vw;
}
/* input[type="radio"] {
  display: none;
} */
a {
  text-decoration: none;
  color: #f76c6c;
  justify-content: space-around;
  font-weight: 700;
  padding-right: 25px;
}
h1 {
  color: #f76c6c;
}
li .Ingredients {
  color: #374785;
}
.Ingredients {
  text-align: left;
  list-style-type: circle;
  font-size: 13px;
  color: #374785;
}
div .recipes {
  background-color: #a8d0e6;
  gap: 70px;
  margin-top: 20px;
  
}
div.recipe {
  background-color: #f8e9a1;
  border: solid #374785;
  border-radius: 20px;
  padding-bottom: 15px;
  margin-top: 20px;
}

@media screen and (min-width:680px) {
  .recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
}

@media screen and (min-width:1024px) {
.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

}